/*
  Rui Santos
  Complete project details at https://RandomNerdTutorials.com/esp32-mpu-6050-web-server/

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files.
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

html {
  font-family: Courier New;
  display: inline-block;
  text-align: center;
  background-color: #E0FFFF
}
p {
  font-size: 1.2rem;
}
body {
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: skyblue;
  color: lightcyan;
  font-size: medium;
  border-radius: 3px;
}
.topnav2 {
  overflow: hidden;
  background-color: skyblue;
  color: lightcyan;
  font-size: medium;
  border-radius: 10px;
}
.content {
  padding: 20px;
}
.card {
  background-color: skyblue;
    border-radius: 10px;
/*  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);*/
}
.card-title {
  color:lightcyan;
  font-weight: bold;
}
.cards {
  max-width: 1000px;
  color:blue;
  margin: 0 auto;
  display: grid; grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.reading {
  color:lightcyan;
  font-size: 1.2rem;
}
.cube-content{
  width: 90%;
  background-color: black;
  height: 300px; margin: auto;
  padding-top:2%;
  color: aqua;
}
#reset{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px; width: 150px;
  border-radius: 4px;
}
#open{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px; width: 150px;
  border-radius: 4px;
}
#close{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px; width: 150px;
  border-radius: 4px;
}
#set{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px; width: 140px;
  border-radius: 10px;
}
#setvalue{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  text-align: center;
  padding: 10px;
  height:30px;
  line-height:30px;
  font-size: 20px; width: 150px;
  border-radius: 40px;
  
}
#showip{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  margin-top: 5px;
  padding:10px;
  text-align: center;
  display: inline-block;
  font-size: 14px; width: 140px;
  border-radius: 10px;
}
#resetX, #resetY, #resetZ{
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  width: 20px;
  border-radius: 4px;
}
